{% extends "layout.html" %}
{% block content %}
<!-- Test-->
<script src="https://js.stripe.com/v3/"></script>
<!-- Test-->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='test.css')}}">
<section class="hero ">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="cardbox shadow-lg bg-white">
                    <div class="cardbox-heading">
                        <div class="media m-0">
                            
                            <div class="media-body">
                              
                                <p class="m-0">Prokastinger</p>
                            
                            </div>
                        </div> 
                    </div><!-- Heading-->
                    <div class="cardbox-item" style="margin-top:5px;">
                      
                    </div> <!-- Content-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
