{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='test.css')}}">
<section class="hero ">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="cardbox shadow-lg bg-white">
                    <div class="cardbox-heading">
                        <div class="media m-0">
                            
                            <div class="media-body">
                              <a class="article-title" style="margin-left:20px;"><b>Citat för förstasida</b></a>
                              <a href="#" class="float-right" style="color:rgb(41, 41, 41);"><svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
                              </svg></a>
                            </div>
                        </div>
                    </div><!-- Heading-->
                    <div class="cardbox-heading" style="margin-top:-20px">
                        <div class="media m-0">
                            
                            <div class="media-body">
                              <ul class="list-group list-group-item-action list-group-flush">
                                <a href="#" class="list-group-item list-group-item-action">dsdsa</a>
                                <a href="#" class="list-group-item list-group-item-action"><i>Gift dig aldrig med en karriari dsa dnsja dhasjkst</i><b class="float-right">Mona B</b></a>
                                <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                                <a href="#" class="list-group-item list-group-item-action">Cras justo odio</a>
                              </ul>
                            </div>
                        </div>
                    </div><!-- Heading-->
                    
                    
                </div>
            </div>
        </div>
    </div>
{% endblock content %}